<div{{ attributes }}>
  <i class="fa fa-tags" aria-hidden="true"></i>
  {% for item in items %}
    <span{{ item.attributes }}>{{ item.content }}{% if not loop.last %},{% endif %}</span>
  {% endfor %}
</div>
